.vscode/**
src/**
test/**
out/test/**
.gitignore
tsconfig.json
**/*.map
scripts/**
node_modules/typescript/**
node_modules/@types/**
node_modules/mocha/**
node_modules/@vscode/test-electron/**
node_modules/**/src/**
node_modules/**/test/**
node_modules/**/docs/**
node_modules/**/*.md
node_modules/**/*.ts
!node_modules/**/*.d.ts
node_modules/tree-sitter-c/*.wasm
node_modules/tree-sitter-cpp/*.wasm
node_modules/tree-sitter-c/src/**
node_modules/tree-sitter-cpp/src/**
node_modules/web-tree-sitter/debug/**
